<div class="body">
  <div class="row flex-nowrap">
    <div class="bg-dark col-auto  vh-100 d-flex flex-column justify-content-between fixed-sidebar">
      <div class="flex-wrap">
        <div class="p-2">
          <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
            <span class="fs-5 d-none d-sm-inline mx-auto fw-bold mb-3">Workit<span style="color: blue;">.</span></span>
          </a>
          <ul class="nav nav-pills flex-column mt-4">
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-solid fa-laptop icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Dashboard</span></a>
            </li>
            <li class="nav-item  mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-solid fa-table-list icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Available Units</span></a>
            </li>
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-solid fa-shield-halved icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Invoices</span></a>
            </li>
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-regular fa-clock icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Projects</span></a>
            </li>
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-regular fa-share-from-square icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Social Media</span></a>
            </li>
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-solid fa-diagram-successor icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Integrations</span></a>
            </li>
            <li class="nav-item mb-2 py-2 py-sm-0">
              <a href="#" class="nav-link text-white"><i class="fa-regular fa-bookmark icon"></i><span
                  class="fs-6 ms-3 d-none d-sm-inline">Documentation</span></a>
            </li>
          </ul>
        </div>
      </div>

      <div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item mb-2 py-2 py-sm-0">
            <a href="#" class="nav-link text-white"><i class="fa-solid fa-gear icon"></i><span
                class="fs-6 ms-3 d-none d-sm-inline">Settings</span></a>
          </li>
          <li class="nav-item mb-2 py-2 py-sm-0">
            <a href="#" class="nav-link text-white"><i class="fa-regular fa-circle-question icon"></i><span
                class="fs-6 ms-3 d-none d-sm-inline">Help center</span></a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container-fluid main-content">
    <nav class="navbar navbar-lg  border-bottom border-body bg-white p-2">
      <div class="container-fluid gy-0 pe-0">
        <div class="dropdown">
          <div class="dropdown-toggle navhead" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Team
          </div>
        </div>

        <ul class="navbar-nav flex-row ms-auto">
          <li class="nav-item me-3">
            <button class="userbtn btn btn-primary">New user +</button>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#"><i class="fa-regular fa-bell navicon"></i></a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass navicon"></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="#"><img class="navimg"
                src="https://e0.pxfuel.com/wallpapers/860/675/desktop-wallpaper-suriya-latest-full-s-more-actor-surya.jpg"
                alt="img" /></a>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="navbar navtwo  border-bottom border-body bg-white p-2">
      <div class="container-fluid gy-0 pe-0">
        <ul class="navbar-nav flex-row ">
          <li class="nav-item me-3">
            <button class="filteruserbtn m-md-2 btn btn-white">Filter Users &nbsp;<i class="fa-solid fa-bars"
                style="color: rgb(207, 204, 204);"></i></button>
          </li>
          <li class="nav-item me-3">
            <form class="d-flex" role="search">
              <input class="form-control search me-2 mt-md-2" type="search" placeholder="Search" aria-label="Search">

              <i class="fa fa-search ms-n5 mt-md-3"></i>
            </form>
          </li>
        </ul>

        <ul class="navbar-nav flex-row ">
          <li class="dropdown">
            <div class="sortbtn me-3 m-md-2" type="button" id="dropdownMenu2" data-bs-toggle="dropdown">
              Sort by date &nbsp; <i class="fa-solid fa-caret-down" style="color: lightgray;"></i>
            </div>
          </li>
          <li class="nav-item me-3 ">
            <div class="mt-md-2 ms-m-3"><i class="fa-solid fa-ellipsis-vertical navtwoicon"></i></div>
          </li>

        </ul>
      </div>
    </nav>

    <div class="container-fluid cardspace">
      <div class="row flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xl-3 p-lg-2  mb-3 text-center" *ngFor="let item of cardData">
          <div class="card shadow-sm p-2">
            <div class="card-body p-1">
              <img [src]="item.imageUrl" class="card-img-top" alt="cardImg" />
              <h5 class="card-title mt-3 name">{{item.firstName}} {{item.lastName}}</h5>
              <span class="card-text email" style="color: lightgray;"><strong>Email</strong>: {{item.email}}</span>
              <p class="card-text" style="color: lightgray;"><strong>Phone</strong>: {{item.contactNumber}}</p>
              <div class="d-flex flex-row justify-content-center">
                <div class="m-3">
                  <span class="cardspantxt">Age</span>
                  <p>{{item.age}}</p>
                </div>
                <div class="vl"></div>
                <div class="m-3">
                  <span class="cardspantxt">DOB</span>
                  <p>{{item.dob}}</p>
                </div>
                <div class="vl"></div>
                <div class="m-3">
                  <span class="cardspantxt">Salary</span>
                  <p>{{item.salary}}</p>
                </div>
              </div>
              <div class="nav-item mb-2">
                <button class="cardbtn">View Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>